# neon database
DATABASE_URL="postgresql://neon:---/neondb?sslmode=require"

# 42 app Oauth info
UID="u-s4t2ud-e29d2f553098671ff58bd"
APP_SEC="s-s4t2ud-c31d33e0cb06c393"

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here