
.container {
	padding: 4rem;
	font-family: "IBM Plex Sans", ui-sans-serif, -apple-system;
	background-color: #000000;
	color: #FFFFFF;
	min-height: 100vh;
}

h1, h2 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 2rem;
}

form {
	max-width: 400px;
	margin: 0 auto;
	background: #1C1C1C;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid #333;
}

label {
	display: block;
	margin: 0.5rem 0;
	color: #FFFFFF;
}

input {
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border-radius: 4px;
	border: 1px solid #333;
	background: #2D2D2D;
	color: #FFFFFF;
	box-sizing: border-box;
}

button {
	width: 100%;
	background: #805b30;
	color: white;
	border: none;
	padding: 1rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background: #96682D;
}

.registered-users {
	margin-top: 3rem;
}

.user-list {
	list-style: none;
	padding: 0;
}

.user-list li {
	background: #1C1C1C;
	margin-bottom: 0.5rem;
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid #333;
}

.card {
	max-width: 800px;
	margin: 0 auto;
	background: #1C1C1C;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid #333;
}

.card h3 {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 1rem;
}

table {
	width: 100%;
	max-width: 800px;
	border-collapse: collapse;
	margin: 0 auto;
}

th, td {
	padding: 1rem;
	text-align: left;
	border-bottom: 1px solid #333;
	color: #FFFFFF;
}

thead th {
	background: #2D2D2D;
	border-bottom: 2px solid #333;
}

nav {
	background: #1C1C1C;
	padding: 0.4rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid #333;
	width: 100%;
	margin-bottom: 1rem;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 14px 16px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	display: inline-block;
	margin: 0 0.5rem;
}

nav a:hover {
	background-color: #2D2D2D;
}

nav a.active {
	background-color: #805b30;
	color: white;
}

.popup {
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 1000;
	background-color: #1C1C1C;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
	border: 1px solid #333;
	text-align: center;
}
